<div class="container-fluid">
  <div class="jumbotron">
      <div class="container push-spaces">
          
      </div>
  </div>
  <div class="nav-scroller py-1 mb-2">
      <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-light">            
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/ideias/dashboard']">
                  <i class="fa fa-home"></i>
                  Home
                  <span class="sr-only">(current)</span>
                  </a>
              </li>
            </ul>              
          </div>
        </nav>
  </div>

  <div class="container">
      <form (submit)="loginUser($event)">
          <div class="container">
            <div class="form-group">
              <label>Nome</label> 
              <input type="text" autocomplete="off" id="nome">
            </div>
            <div class="form-group">
              <label>Descrição</label> 
              <input type="text" autocomplete="off" id="descricao">
            </div>
            <div class="form-group">
                <label>Comentario Avaliador</label> 
                <input type="textarea" autocomplete="off" id="comentario" required>
              </div>
            <div class="form-group">
                <label>Situação</label>
                <select id="situacao">
                    <option value="Em Colaboração">Em Colaboração</option>
                    <option value="Em Execução">Em Execução</option>
                    <option value="Concluida">Concluida</option>
                    <option value="Rejeitada">Rejeitada</option>
                  </select>
            </div> 
          <div>
            <button type="submit" id="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
</div>