<div class="container-fluid">
    <div class="jumbotron">
        <div class="container push-spaces">
            
        </div>
    </div>
    <div class="nav-scroller py-1 mb-2">
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-light">            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/ideias/dashboard']">
                    <i class="fa fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
              </ul>              
            </div>
          </nav>
    </div>
    <div class="well">
      <form #formComentario="ngForm">
        <div class="form-group">
          <label for="nome">Comentario</label>
          <input 
            type="text"
            class="form-control"
            id="comentario"
            name="comentario"        
            [(ngModel)]="comentario.comentario"
            #comentario="ngModel"
            minlength="5" 
            required> 
          <div *ngIf="comentario.errors && (comentario.dirty || comentario.touched)"
               class="alert alert-danger">
            <div [hidden]="!comentario.errors.required">
              Digite a ideia.
            </div>
            <div [hidden]="!comentario.errors.minlength">
              A ideia deve conter ao menos 5 caracteres.
            </div>
          </div>
        </div>   
        <div class="form-group text-center">
            <button  class="btn btn-success"                        
              type="submit"
              (click)="comentar(comentario.comentario)"
              [disabled]="!formComentario.form.valid"               
            > Salvar
            </button>
          <a [routerLink]="['/ideias/dashboard']"
            class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left" 
              aria-hidden="true"></span> Voltar
          </a>
        </div>
      </form>
    </div>
    
    <table class="table table-striped table-bordered table-hover">
        <tr>
          <th class="text-rigth">Comentarios</th>      
        </tr>
        <tr *ngFor="let comentario of comentarios">
          <td class="table-active text-rigth">
            {{ comentario.comentario }}
          </td>      
        </tr>
    </table>
</div>