<div class="container-fluid">
    <div class="jumbotron">
        <div class="container push-spaces">
            
        </div>
    </div>
    <div class="nav-scroller py-1 mb-2">
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-light">            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/ideias/dashboard']">
                    <i class="fa fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
              </ul>              
            </div>
          </nav>
    </div>
    <div class="container-fluid">
        <form #formComentario="ngForm">
            <div class="row justify-content-start">
              <div class="col-6 form-group">
                  <label for="nome">Comentario</label>
                  <input 
                    type="text"
                    class="form-control"
                    id="comentario"
                    name="comentario"        
                    [(ngModel)]="comentario.comentario"
                    #comentario="ngModel"
                    minlength="5" 
                    required> 
                  <div *ngIf="comentario.errors && (comentario.dirty || comentario.touched)"
                      class="alert alert-danger">
                    <div [hidden]="!comentario.errors.required">
                      Digite a ideia.
                    </div>
                    <div [hidden]="!comentario.errors.minlength">
                      A ideia deve conter ao menos 5 caracteres.
                    </div>
                  </div>
              </div>   
            </div>
        
            <div class="row justify-content-start">
              <div class="col-1">
                  <button class="btn btn-primary"                        
                  type="submit"
                  (click)="comentar(comentario.comentario)"
                  [disabled]="!formComentario.form.valid"               
                  > Salvar
                  </button>
              </div>
              <div class="col-1">
                <a [routerLink]="['/ideias/dashboard']"
                  class="btn btn-success col-auto">
                  <span class="glyphicon glyphicon-chevron-left" 
                    aria-hidden="true"></span> Voltar
                </a>
              </div>
          </div>
      </form> 
    </div>  
    <br>
    <table class="col-6 table table-striped table-bordered table-hover">
        <tr>
          <th class="text-rigth">Comentarios</th>      
        </tr>
        <tr *ngFor="let comentario of comentarios">
          <td class="table-active text-rigth">
            {{ comentario.comentario }}
          </td>      
        </tr>
    </table>
</div>