<h1>Editar tarefa</h1>

<div class="well">
  <form #formTarefa="ngForm">
    <div class="form-group">
      <label for="nome">Nome da Ideia:</label>
      <input 
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="tarefa.nome"
        #nome="ngModel"
        minlength="5" 
        required> 
      <div *ngIf="nome.errors && (nome.dirty || nome.touched)"
           class="alert alert-danger">
        <div [hidden]="!nome.errors.required">
          Digite a tarefa.
        </div>
        <div [hidden]="!nome.errors.minlength">
          A tarefa deve conter ao menos 5 caracteres.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="nome">Descrição da Ideia:</label>
      <textarea 
        type="text"
        class="form-control"
        id="descricao"
        name="descricao"
        [(ngModel)]="tarefa.descricao"
        #descricao="ngModel"
        minlength="5" 
        required> </textarea>
      <div *ngIf="descricao.errors && (descricao.dirty || descricao.touched)"
           class="alert alert-danger">
        <div [hidden]="!descricao.errors.required">
          Digite a tarefa.
        </div>
        <div [hidden]="!descricao.errors.minlength">
          A tarefa deve conter ao menos 5 caracteres.
        </div>
      </div>
    </div>
    <div class="form-group">
        <label>Situação da Tarefa</label>
        <select class="form-control"
          id="situacao"
          name="situacao"
          [(ngModel)]="tarefa.situacao"
          #situacao="ngModel"
          required
        >
          <option value="Aprovada">Aprovada</option>
          <option value="Em Andamento">Em Andamento</option>
          <option value="Finalizada">Finalizada</option>
        </select>
    </div>    
    <div class="form-group text-center">
      <input 
        type="submit"
        class="btn btn-success"
        (click)="atualizar()"
        value="Atualizar"
        [disabled]="!formTarefa.form.valid">
      <a [routerLink]="['/tarefas']"
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left" 
          aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>
