<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nova Ideia</h5>
          <button [routerLink]="['/ideias/dashboard']" type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <form (submit)="cadastrar($event)">
        <div class="modal-body">
            
              <div class="form-group">
                <label for="nome">Nome da Ideia:</label>
                <input 
                  type="text"
                  class="form-control"
                  id="nome"
                  name="nome"
                  [(ngModel)]="ideia.nome"
                  #nome="ngModel"
                  minlength="5" 
                  required> 
                <div *ngIf="nome.errors && (nome.dirty || nome.touched)"
                     class="alert alert-danger">
                  <div [hidden]="!nome.errors.required">
                    Digite a ideia.
                  </div>
                  <div [hidden]="!nome.errors.minlength">
                    A ideia deve conter ao menos 5 caracteres.
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <label>Categoria</label>                  
                  <select class="form-control" id="categoria">
                    <option>Gestão de Pessoas</option>                            
                    <option>Produtos</option>                            
                    <option>Processos</option>                            
                    <option>Suporte</option>
                  </select>                    
               </div>
              <div class="form-group">
                  <label for="descricao">Descrição da Ideia</label>
                  <textarea 
                    class="form-control" 
                    id="descricao"
                    name="descricao"
                    [(ngModel)]="ideia.descricao"
                    #descricao="ngModel"
                    minlength="5" 
                    required
                    rows="3"
                  ></textarea>
                  <div *ngIf="descricao.errors && (nome.dirty || nome.touched)"
                       class="alert alert-danger">
                    <div [hidden]="!descricao.errors.required">
                      Digite a ideia.
                    </div>
                    <div [hidden]="!descricao.errors.minlength">
                      A ideia deve conter ao menos 5 caracteres.
                    </div>
                  </div>
                </div>  
             
        </div>
        <div class="modal-footer">
          <button [routerLink]="['/ideias/dashboard']" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button 
              type="submit" 
              class="btn btn-primary"  
              >Salvar
			    </button>
        </div>
      </form>
      </div>
    </div>
</div> 