<div class="container-fluid">
      <header class="business-header">
      </header>
      <div class="nav-scroller py-1 mb-2">
         <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                     <a class="nav-link" [routerLink]="['/ideias/dashboard']">
                     <i class="fa fa-home"></i>
                     Home
                     <span class="sr-only">(current)</span>
                     </a>
                  </li>
                  <li class="nav-item">
                     <ng-template [ngIf]="user == 1"> 
                        <a class="nav-link" [routerLink]="['/ideias/listar']">                    
                        <i class="fa fa-envelope">
                        <span class="badge badge-danger"></span>
                        </i>
                        Pendentes Avaliacao
                        </a>
                     </ng-template>
                     <ng-template [ngIf]="user == 2">
                        <a class="nav-link disabled">                    
                        <i class="fa fa-envelope">
                        <span class="badge badge-danger"></span>
                        </i>
                        Pendentes Avaliacao
                        </a>
                     </ng-template>
                  </li>
                  <li class="nav-item">
                     <button 
                        [routerLink]="['/ideias/cadastrar']" 
                        type="button" 
                        class='nav-link border-0' style='background-color:transparent;'
                        data-toggle="modal" 
                        data-target="#exampleModal"
                        data-whatever="@mdo"><i class="fa fa-plus-square"></i>Conte sua ideia</button>
                  </li>
                  <li class="nav-item">
                     <button 
                        [routerLink]="['/ideias/pesquisar']" 
                        type="button" 
                        class='nav-link border-0' style='background-color:transparent;'                      
                        ><i class="fa fa-search"></i>Pesquisar</button>
                  </li>
                  <li class="nav-item">
                     <button 
                        [routerLink]="['/ideias/login']" 
                        type="button" 
                        class='nav-link border-0' style='background-color:transparent;'                      
                        ><i class="fa fa-sign-out-alt"></i>Logout
                     </button>    
                  </li>
               </ul>
            </div>
         </nav>
      </div>
</div>
<div class="container-fluid">
   <div class="row justify-content-start">
      <!--Buscar-->  
      <div class="col-lg-2">
         <h4>Buscar</h4>      
         <form (submit)="buscaPorCategoria($event)">
            <ul class="list-group">
               <li class="list-group-item">
                  <div class="form-group">
                     <select class="form-control align-items-start" id="categorias">
                        <option>Selecione uma categoria</option>
                        <option>Gestão de Pessoas</option>
                        <option>Produtos</option>
                        <option>Processos</option>
                        <option>Suporte</option>
                     </select>
                  </div>
               </li>
               <li class="list-group-item">
                  <input id="campoBusca">
               </li>
               <li class="list-group-item">
                  <button
                     class="btn btn-primary"
                     >Pesquisar
                  </button> 
               </li>
            </ul>
         </form>
         <br>
         <ul class="list-group">
            <li class="list-group-item"><label>Categorias</label></li>
            <li *ngFor="let categoria of listcategorias" class="list-group-item d-flex justify-content-between align-items-center"> {{categoria.nome}}           
               <span class="badge badge-primary badge-pill">{{categoria.quantidade}} </span>
            </li>
         </ul>
         <br>
      </div>
      <!--Em alta e Favoritos-->
      <div class="col-lg-7">
         <!--Em alta-->
         <h4>Em Alta</h4>
         <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" [attr.id]="ideiaEmAlta.id" *ngFor="let ideiaEmAlta of listEmAltas | slice:0:3 ; index as i" >
            <!--Em Colaboração-->
               <div class="card border-success">
                  <div class="card-body">
                     <h4 class="card-title">{{ ideiaEmAlta.nome }}</h4>
                     <h5>{{ ideiaEmAlta.situacao }}</h5>
                     <p class="card-text">{{ ideiaEmAlta.descricao }}</p>
                  </div>
                  <div class="card-footer border-success bg-transparent ">
                     <button 
                        class='btn btn-lg' style='background-color:transparent;'
                        type="submit"
                        (click)="somarGostou(ideiaEmAlta.id)"
                        ><i class="far fa-thumbs-up"> {{ ideiaEmAlta.quantidadeSim }}</i>
                     </button> 
                     <button 
                        class='btn btn-lg ' style='background-color:transparent;'
                        type="submit"                        
                        (click)="somarNaoGostou(ideiaEmAlta.id)"
                        ><i class="far fa-thumbs-down"> {{ ideiaEmAlta.quantidadeNao }}</i>
                     </button>  
                     <button 
                        class='btn btn-lg ' 
                        [routerLink]="['/ideias/comentar', ideiaEmAlta.id]"
                        style='background-color:transparent;'
                        ><i class="far fa-comment"> {{ ideiaEmAlta.quantidadeComentario }}</i>
                     </button> 
                     <button 
                        class='btn btn-lg ' style='background-color:transparent;'
                        type="submit"                                      
                        (click)="favoritar(ideiaEmAlta.id)"><i class="far fa-star"></i>
                     </button>
                  </div>
               </div>
         </div>
         </div>
         <!--Favoritas-->
         <h4>Favoritas</h4>
         <div class="row">
            <div class="col-lg-4 col-md-6 mb-4"
             [attr.id]="favorita.id" 
             *ngFor="let favorita of listFavoritas">  
             <ng-template [ngIf]="favorita.situacao == 'Rejeitada'"> 
               <div>
                  <div class="card h-100 border-danger">
                        <div class="card-body">
                           <h4 class="card-title">{{ favorita.nome }}</h4>
                           <h5>{{ favorita.situacao }}</h5>
                           <p class="card-text">{{ favorita.descricao }}</p>
                        </div>
                        <div class="card-footer border-danger bg-transparent">
                           <button 
                              class='btn btn-lg' style='background-color:transparent;'
                              type="submit"
                              (click)="somarGostou(favorita.id)"
                              ><i class="far fa-thumbs-up"> {{ favorita.quantidadeSim }}</i>
                           </button> 
                           <button 
                              class='btn btn-lg ' style='background-color:transparent;'
                              type="submit"                        
                              (click)="somarNaoGostou(favorita.id)"
                              ><i class="far fa-thumbs-down"> {{ favorita.quantidadeNao }}</i>
                           </button>
                           <button 
                              class='btn btn-lg ' 
                              [routerLink]="['/ideias/comentar', favorita.id]"
                              style='background-color:transparent;'
                              ><i class="far fa-comment"> {{ favorita.quantidadeComentario }}</i>
                           </button>                              
                           <button 
                              class='btn btn-lg ' style='background-color:transparent;'
                              type="submit"                                      
                              (click)="favoritar(favorita.id)"><i class="far fa-star"></i>
                           </button>
                        </div>
                  </div>
               </div>
            </ng-template>
            <ng-template [ngIf]="favorita.situacao == 'Concluida'"> 
               <div>
                     <div class="card h-100 border-primary">
                           <div class="card-body">
                              <h4 class="card-title">{{ favorita.nome }}</h4>
                              <h5>{{ favorita.situacao }}</h5>
                              <p class="card-text">{{ favorita.descricao }}</p>
                           </div>
                           <div class="card-footer border-primary bg-transparent">
                              <button 
                                 class='btn btn-lg' style='background-color:transparent;'
                                 type="submit"
                                 (click)="somarGostou(favorita.id)"
                                 ><i class="far fa-thumbs-up"> {{ favorita.quantidadeSim }}</i>
                              </button> 
                              <button 
                                 class='btn btn-lg ' style='background-color:transparent;'
                                 type="submit"                        
                                 (click)="somarNaoGostou(favorita.id)"
                                 ><i class="far fa-thumbs-down"> {{ favorita.quantidadeNao }}</i>
                              </button>
                              <button 
                                 class='btn btn-lg ' 
                                 [routerLink]="['/ideias/comentar', favorita.id]"
                                 style='background-color:transparent;'
                                 ><i class="far fa-comment"> {{ favorita.quantidadeComentario }}</i>
                              </button>                                 
                              <button 
                                 class='btn btn-lg ' style='background-color:transparent;'
                                 type="submit"                                      
                                 (click)="favoritar(favorita.id)"><i class="far fa-star"></i>
                              </button>
                           </div>
                     </div>
               </div>
            </ng-template>
            <ng-template [ngIf]="favorita.situacao == 'Em Colaboração'">
               <div>
                  <div class="card h-100 border-secondary">
                        <div class="card-body">
                           <h4 class="card-title">{{ favorita.nome }}</h4>
                           <h5>{{ favorita.situacao }}</h5>
                           <p class="card-text">{{ favorita.descricao }}</p>
                        </div>
                        <div class="card-footer border-success bg-transparent">
                           <button 
                              class='btn btn-lg' style='background-color:transparent;'
                              type="submit"
                              (click)="somarGostou(favorita.id)"
                              ><i class="far fa-thumbs-up"> {{ favorita.quantidadeSim }}</i>
                           </button> 
                           <button 
                              class='btn btn-lg ' style='background-color:transparent;'
                              type="submit"                        
                              (click)="somarNaoGostou(favorita.id)"
                              ><i class="far fa-thumbs-down"> {{ favorita.quantidadeNao }}</i>
                           </button>
                           <button 
                              class='btn btn-lg ' 
                              [routerLink]="['/ideias/comentar', favorita.id]"
                              style='background-color:transparent;'
                              ><i class="far fa-comment"> {{ favorita.quantidadeComentario }}</i>
                           </button>                              
                           <button 
                              class='btn btn-lg ' style='background-color:transparent;'
                              type="submit"                                      
                              (click)="favoritar(favorita.id)"><i class="far fa-star"></i>
                           </button>
                        </div>
                  </div>
               </div>
            </ng-template>
            <ng-template [ngIf]="favorita.situacao == 'Em Execução'">
               <div>
                  <div class="card h-100 border-success">
                           <div class="card-body">
                              <h4 class="card-title">{{ favorita.nome }}</h4>
                              <h5>{{ favorita.situacao }}</h5>
                              <p class="card-text">{{ favorita.descricao }}</p>
                           </div>
                           <div class="card-footer border-success bg-transparent">
                              <button 
                                 class='btn btn-lg' style='background-color:transparent;'
                                 type="submit"
                                 (click)="somarGostou(favorita.id)"
                                 ><i class="far fa-thumbs-up"> {{ favorita.quantidadeSim }}</i>
                              </button> 
                              <button 
                                 class='btn btn-lg ' style='background-color:transparent;'
                                 type="submit"                        
                                 (click)="somarNaoGostou(favorita.id)"
                                 ><i class="far fa-thumbs-down"> {{ favorita.quantidadeNao }}</i>
                              </button>   
                              <button 
                                 class='btn btn-lg ' 
                                 [routerLink]="['/ideias/comentar', favorita.id]"
                                 style='background-color:transparent;'
                                 ><i class="far fa-comment"> {{ favorita.quantidadeComentario }}</i>
                              </button>                              
                              <button 
                                 class='btn btn-lg ' style='background-color:transparent;'
                                 type="submit"                                      
                                 (click)="favoritar(favorita.id)"><i class="far fa-star"></i>
                              </button>
                           </div>
                  </div>
               </div>    
            </ng-template>         
            </div>
         </div>
      </div>
      <!--Ultimas Ideias-->
      <div class="col-lg-3">
         <h4>Ultimas Ideias</h4>
         <div [attr.id]="ultimasIdeias.id" *ngFor="let ultimasIdeias of listUltimasCadastradas | slice:0:5 ; index as i">
         <ng-template [ngIf]="ultimasIdeias.situacao == 'Em Colaboração'">
            <div class="card h-100 border-secondary">
            <div class="card-body">
               <h4 class="card-title">{{ ultimasIdeias.nome }}</h4>
               <h5>{{ ultimasIdeias.situacao }}</h5>
               <p class="card-text">{{ ultimasIdeias.descricao }}</p>
            </div>
            <div class="card-footer border-secondary bg-transparent">
               <button 
                  class='btn btn-lg' style='background-color:transparent;'
                  type="submit"
                  (click)="somarGostou(ultimasIdeias.id)"
                  ><i class="far fa-thumbs-up"> {{ ultimasIdeias.quantidadeSim }}</i>
               </button> 
               <button 
                  class='btn btn-lg ' style='background-color:transparent;'
                  type="submit"                        
                  (click)="somarNaoGostou(ultimasIdeias.id)"
                  ><i class="far fa-thumbs-down"> {{ ultimasIdeias.quantidadeNao }}</i>
               </button>   
               <button 
                  class='btn btn-lg ' style='background-color:transparent;'
                  type="submit"                                      
                  (click)="favoritar(ultimasIdeias.id)"><i class="far fa-star"></i>
               </button>
               <button 
                  class='btn btn-lg ' 
                  [routerLink]="['/ideias/comentar', ultimasIdeias.id]"
                  style='background-color:transparent;'
                  ><i class="far fa-comment"> {{ ultimasIdeias.quantidadeComentario }}</i>
               </button>
            </div>
            </div>
         </ng-template>
         <ng-template [ngIf]="ultimasIdeias.situacao == 'Em Execução'">
               <div class="card h-100 border-success">
               <div class="card-body">
                  <h4 class="card-title">{{ ultimasIdeias.nome }}</h4>
                  <h5>{{ ultimasIdeias.situacao }}</h5>
                  <p class="card-text">{{ ultimasIdeias.descricao }}</p>
               </div>
               <div class="card-footer border-success bg-transparent">
                  <button 
                     class='btn btn-lg' style='background-color:transparent;'
                     type="submit"
                     (click)="somarGostou(ultimasIdeias.id)"
                     ><i class="far fa-thumbs-up"> {{ ultimasIdeias.quantidadeSim }}</i>
                  </button> 
                  <button 
                     class='btn btn-lg ' style='background-color:transparent;'
                     type="submit"                        
                     (click)="somarNaoGostou(ultimasIdeias.id)"
                     ><i class="far fa-thumbs-down"> {{ ultimasIdeias.quantidadeNao }}</i>
                  </button>   
                  <button 
                     class='btn btn-lg ' style='background-color:transparent;'
                     type="submit"                                      
                     (click)="favoritar(ultimasIdeias.id)"><i class="far fa-star"></i>
                  </button>
                  <button 
                     class='btn btn-lg ' 
                     [routerLink]="['/ideias/comentar', ultimasIdeias.id]"
                     style='background-color:transparent;'
                     ><i class="far fa-comment"> {{ ultimasIdeias.quantidadeComentario }}</i>
                  </button>
               </div>
               </div>
         </ng-template>
         <br>
      </div>
      </div>      
   </div>  
</div>