<div class="jumbotron">
    <div class="container push-spaces">
        
    </div>
</div>
<div class="nav-scroller py-1 mb-2">
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-light bg-light">            
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/ideias/dashboard']">
                <i class="fa fa-home"></i>
                Home
                <span class="sr-only">(current)</span>
                </a>
            </li>
          </ul>              
        </div>
      </nav>
</div>
  <div class="container">
    <form (submit)="pesquisar($event)" class="form-inline">
        <div class="form-row">
            <div class="col">
              <label>Nome da ideia</label>
            </div>
            <div class="col-6">
              <input type="text" class="form-control" placeholder="Nome da Ideia" id="nome">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
              </div>
          </div>        
      </form>
  </div>
<br>
<table class="table table-striped table-bordered table-hover">
  <tr>
  	<th class="text-rigth">Nome da Ideia</th>
    <th class="text-rigth">Descrição da Ideia</th>
    <th class="text-rigth">Situação da Ideia</th>
  </tr>
  <tr *ngFor="let ideia of ideias">
    <td class="table-active text-rigth">
      {{ ideia.nome }}
    </td>
    <td class="table-active text-rigth">
      {{ ideia.descricao }}
    </td>
    <td class="table-active text-rigth" style="width: 200px">
      {{ ideia.situacao }}
    </td>    
  </tr>
</table>
<button class='btn btn-lg '[routerLink]="['/ideias/dashboard']">Fechar</button>